body {
  font-family: 'Voltaire', sans-serif;
  font-size: 16px;
  letter-spacing: 0.05em;
  background-color: #12d986;
}

#mugshot {
  position: relative;
  width: 200px;
  height: 100vh;
  margin: 0 auto;
  background-image: url('../img/me_smile.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}
#mugshot:hover {
  background-image: url('../img/me_grin.png');
}

.bubble {
  position: absolute;
  padding: 1em;
  background: #fff;
  border-radius: 2em;
  border: #000 solid 0.5em;
  box-shadow: 6px 6px 1px rgba(0, 0, 0, 0.2),
    inset 0 0 1em rgba(0, 0, 255, 0.5);
  width: 300px;
  max-width: 300px;
}

.bubble.left {
  top: 50%;
  right: -160%;
}
.bubble.right {
  top: 40%;
  left: -160%;
}

.left.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 20px 20px 0;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 0;
  left: -21px;
  top: 10%;
}

.right.bubble:before {
  content: '';
  position: absolute;
  border-style: solid;
  border-width: 20px 0 20px 20px;
  border-color: transparent #000;
  display: block;
  width: 0;
  z-index: 0;
  right: -21px;
  top: 10%;
}

/**
 * Footer/Social
 */

#social {
  margin-top: -100px;
  height: 100px;
}

#social ul {
  text-align: right;
  list-style-type: none;
}

#social ul li {
  display: inline;
  font-size: 2em;
  margin: 0 0.25em;
  opacity: 0.5;
  color: #0c925a;
}

#social ul li a {
  color: #0c925a;
}

#social ul li a:hover {
  transition: 500ms linear 0s;
  opacity: 1;
  text-shadow:
    1px 1px 0 rgba(0, 0, 0, 0.3),
    2px 2px 0 rgba(0, 0, 0, 0.5),
    3px 3px 0 rgba(0, 0, 0, 0.7);
}
